 /* ===== BASIC ===== */
body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f6daf7;
  scroll-behavior:smooth;
}

/* ===== HEADER ===== */
header{
  text-align:center;
  padding:40px 20px;
  background:#e9ebf4;
}

.logo{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #4b0082;
}

.logo:hover{
  transform:scale(1.1);
}

/* ===== BUTTON ===== */
.order-btn{
  display:inline-block;
  margin-top:15px;
  background:#7ce8a4;
  color:white;
  padding:12px 25px;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.order-btn:hover{
  background:#2eb5a5;
}

/* ===== NAVBAR ===== */
nav{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:15px;
  padding:15px;
  background:#c498e4;
  border-top:3px dashed white;
  border-bottom:3px dashed white;
}

nav a{
  background:white;
  color:#4b0082;
  padding:10px 22px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
  position:relative;
  transition:0.3s;
}

nav a:hover{
  background:#9ea7d0;
  color:white;
  transform:translateY(-2px);
}

/* ===== SECTIONS ===== */
section{
  padding:40px 20px;
  max-width:900px;
  margin:auto;
}

h2{
  text-align:center;
  color:#4b83d2d0;
}

h3{
text-align: center;
}
ul{
  list-style:none;
  padding:0;
}

li{
  padding:6px 0;
}

/* ===== ICONS ===== */
.icon{
  width:40px;
  height:40px;
  vertical-align:middle;
  margin-right:10px;
  transition:0.3s;
}

.icon:hover{
  transform:scale(1.3);
}

/* ===== MAP ===== */
iframe{
  display:block;
  margin:auto;
  max-width:100%;
}

/* ===== FOOTER ===== */
footer{
  background:#d192ff;
  color:white;
  text-align:center;
  padding:12px;
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width:768px){

  nav{
    flex-direction:column;
  }

  nav a{
    margin:8px 0;
  }

  iframe{
    height:250px;
  }
}


/* ===== MENU & CONTACT BUTTONS ===== */
section#menu h3,
section#contact p{
  margin-bottom:15px;
}

/* Button look for Menu items */
#menu li{
  background:rgb(247, 219, 219);
  margin:8px auto;
  padding:10px 15px;
  border-radius:25px;
  max-width:350px;
  text-align:center;
  font-weight:bold;
  color:#a82dff;
  border:2px dashed #4b0082;
  transition:0.3s;
}

#menu li:hover{
  background:#eab6de;
  color:white;
  border-color:#a9e9c1;
  transform:scale(1.05);
}

/* Contact info buttons */
#contact p{
  background:rgb(247, 221, 211);
  padding:12px 15px;
  border-radius:30px;
  max-width:450px;
  margin:15px auto;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  border:2px dashed #b17ad9;
  transition:0.3s;
}

#contact p:hover{
  background:#c2a4d7;
  color:white;
  transform:scale(1.03);
}

#contact p:hover img{
  filter:brightness(0) invert(1);
}
